text eol=lf

# jvm sources
*.kt        text diff=java
*.kts       text diff=java


# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# These files are text and should be normalized (Convert crlf => lf)
*.bash          text eol=lf
*.sh            text eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jar           binary
*.war           binary

# https://github.com/github/linguist/blob/v7.24.1/docs/overrides.md
site/**         linguist-documentation
