$prim1: #FFFF63;
$prim2: #FFFF39;
$prim3: #FFFF00;
$prim4: #C5C500;
$prim5: #9B9B00;

$sec1: #C1F25E;
$sec2: #B1EF35;
$sec3: #9FEE00;
$sec4: #9FEE00;
$sec5: #7BB800;

$tert1: #FFE463;
$tert2: #FFDD39;
$tert3: #FFD300;
$tert4: #FFD300;
$tert5: #9B8000;
